.list {
  background-color: rgb(226, 226, 238);
  width: 300px;
  height: 90vh;
  overflow: scroll;
  overflow-x:hidden;
  margin: 0;
  padding: 0;
}
.item {
  color: rgb(236, 140, 30);
  border: 1px solid black;
  list-style: none;
  height: 30px;
  padding: 5px 0 5px 0;
  background-color: rgb(96, 96, 202);
}
.item:hover {
  cursor: pointer;
  background-color: rgb(82, 82, 185);
}
.checked {
  background-color: brown;
}
.checked:hover {
  background-color:  brown;
}
.btn {
  display:none;
}
.btn_visible {
  display: inline-block;
  float: right;
  margin: 0 10px 0 0;
}
.listBlock {
  float: left;
}
.input {
  width: 100%;
}
.btnBody {
  width: 40px;
}
.btnCount {
  display:inline-block;
  width: 40px;
  text-align: center;
  color: gold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}.grafic {
  width: 100px;
  color:white;
  font-size: 20px;
  background-color: blue;
  margin: 20px;
  transition: 1s ease;
}
.grafic:hover {
  background-color: aqua;
  transition: none;
}
.graficsBlock {
  height: 55vh;
  min-height: 200px;
  display:flex;
  justify-content:space-around;
  align-items: flex-end;
}
.graficsBlockMain {
  background-color:rgb(175, 193, 221);
}


/*Стили для HightCharts*/
#containerHightCharts, #sliders {
  min-width: 310px; 
  max-width: 800px;
  margin: 0 auto;
}
#containerHightCharts {
  height: 400px; 
}
.image {
  height: 100px;
}
.imageBlock {
  display: inline-block; 
  position: relative;
  padding: 5px;
  width: 125px;
  height: 115px;
}
.foodImage {
  height: 40vh;
  min-height: 200px;
}
.foodName {
  position: absolute;
  bottom: 0px;
  left: 10px;
  color:rgb(146, 12, 12);
  font-size: 12px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.x_count_ {
  display: none;
}
.x_count_visible {
  display: inline-block;
  position: absolute;
  bottom: 10px;
  right: -5px;
  color:rgb(255, 0, 140);
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}.MainComponent {
 background-color: lightgrey;
}
.PageLink {
    margin: 20px;
}
.ActivePageLink {
    color: red;
}