* {
  margin: 0;
  padding:0;
}
.ModalWindow {
  display:none;
}
.ModalWindow_view {
  position: fixed;
  top: 0;
  z-index: 999;
  height: 100vh;
  width: 100vw;
  background-color: rgba(52, 41, 47, .8);
  text-align: center;
  color: white;
  font-family: 'Caveat Brush', cursive;
  font-size: 24px;
}
.ModalImage {
  padding: 15vh 0 0 0;
}
.ModalDescription {
  display: block;
  padding: 0 10vw 0 10vw;
}
@media screen and (max-width: 768px) {
  .ModalImage {
    height: 30vh;
  }
  .ModalDescription {
    display: block;
    padding: 0 10vw 0 10vw;
    font-size: 20px;
  }
}